{% extends 'base.html' %} {% block content %}
<form method="post" class="form dark-bg-form">
    <h3>Login</h3>
    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
    <div class="form-field">
        <label for="name">Name:</label>
        <input
            type="text"
            id="name"
            placeholder="Enter your name"
            name="name"
            value="{{ name }}"
            required
        />
    </div>
    <div class="form-field">
        <label for="password">Password:</label>
        <input
            type="password"
            id="password"
            placeholder="Enter your password"
            name="password"
            required
        />
    </div>
    <div class="btn-container" style="justify-content: center;">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="bottom-link">
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign Up</a></p>
    </div>
</form>
{% endblock %}
